.listepatient{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://burst.shopifycdn.com/photos/doctors-office-flatlay.jpg?width=925&format=pjpg&exif=1&iptc=1);
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
}

.listepatient_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    width: 50%;
    height: 500px;
    border-radius: 5px;
   overflow-y: scroll;
  }
  .listepatient_title{
      text-align: center;
  }
.listepatient_list{
    list-style: none;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.listepatient_listitem{
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}
.listepatient_delete{
    color: red;
}
.listepatient_button{
    background: cadetblue;
    border: none;
    color: white;
    border-radius: 5px;
    width: 40%;
    padding: 10px;
    font-size: 18px;
    margin: auto;
    justify-content: center;

}
.listepatient_list .listepatient_listitem {
    background-color: #5f9ea04a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    display: block;
    margin: 2px;
  }
  
  .listepatient_list .listepatient_listitem:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  .listepatient_list .listepatient_listitem:hover {
    background-color: #11212282;
  }